* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_center {
        justify-content: center;
        gap: 2px;
    }
}

